<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Application</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
<p>Help!</p>


<div class="container">
    <h1>REST service</h1>
</div>

<div style="color:#ff0000"><p>Пример запросов:</div>
<div>/shop/product?nameFilter=^E.*$ - возвращает контакты, которые НЕ начинаются с E</div>
<div>/shop/product?nameFilter=^.*[eva].*$ - возвращает контакты, которые НЕ содержат букв e, v, a</div>

<span th:text="${prod.getDescription() + ' ' + prod.getName()}" />

</body>
</html>